@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PDF Generator : Immanuel Developer</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="book">
        <div class="page">
            <div class="subpage">Page 1/2</div>
        </div>
        <div class="page">
            <div class="subpage">Page 2/2</div>
        </div>
    </div>
</body>
</html>